{% include "base.html" %}
{% block content %}
{% load custom_tags %}
{% load static %}
<div class="container " style="max-width: 450px;">
    <h1>{{ task.title }}</h1>
    <p>
    <small>{{ task.create_at }}</small>&nbsp;&nbsp;
    status: {{ task.status }},&nbsp;&nbsp;
    priority: {{ task.priority }}&nbsp;&nbsp;
    </p>
    {{ task.descr|linebreaks }}
    <p>
        <a href="{% url 'task-update' task.id %}" class="main-page-btn">Редагувати</a>
        <a href="{% url 'task-delete' task.id %}" class="main-page-btn">Видалити</a>
    </p>
</div>



<div class="container-list">
    {% for comment in task.comments.all %}
        <div class="taskBox">
        <p>{{ comment.author }}</p>
        <p>{{ comment.content }}</p>   
        <!-- цей кусок коду виводить або фото або відео -->
        {% if comment.media %}
            <p>media:</p>
        {% endif %}
        {% if comment.media %}
            {% if comment.media.url|endswith:".jpg" or comment.media.url|endswith:".png" or comment.media.url|endswith:".jpeg" %}
                <img src="{{ comment.media.url }}" alt="image" class="img">
            {% elif  comment.media.url|endswith:".mp4" %}
                <video width="320" height="240" controls>
                    <source src="{{ comment.media.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% else %}
                <a href="{{ comment.media.url }}">Завантажити файл</a>
            {% endif %}
        {% endif %}
        <!-- тут він закінчується -->
        <p>
        <small>{{ comment.created_at }}</small>
        <a href="{% url 'comment-update' comment.pk %}"><button>edit</button></a>
        <a href="{% url 'comment-delete' comment.pk %}"><button>delete</button></a>
        </p>
        </div>
    {% endfor %}
</div>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>коментар</p>
        {{ comment_form.as_p }} 
        <button type="submit" class="main-page-btn">відправити</button>
    </form>
</div>
{% endblock %}