{% include "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<form method="get" class="sort status-cont">

        {{ form.status.label_tag }}
        <div>
            {{ form.status }}
        </div>
        <button type="submit" class="main-page-btn ">Filter</button>
</form>
 

<div class="container-list">
    {% for task in tasks %}
    <div class="taskBox">
        <a href="{% url 'task-detail' task.pk%}"><h1>{{ task.title }}</h1></a>
        <p>status: {{ task.status }}</p>
        <p>priority: {{ task.priority }}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}